@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: 'Silkscreen', cursive;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    color: black;
    background: white;
}

hr {
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 0.15rem;
    background: #ffffff;
    border: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 5px;
    width: 100%;
}

.mb-ft { margin-bottom: 3rem; }

.button {
    color: white;
    background: black;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border: none;
    border-radius: 50rem;
    font-size: 0.9rem;
}

.card {
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 0.8rem;
    background-color: #161616;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-title {
    padding: 0.8rem;
    background: black;
    border-radius: 0.8rem 0.8rem 0 0;
}

.card-padding-top { padding: 0.2rem; }
.card-padding { padding: 0.6rem; }

.margin-fix {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mw-50 { max-width: 50rem; }
.center-mw-50 { 
    margin-left: auto;
    margin-right: auto;
}

.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 1.2rem; }
.text-center { text-align: center; }
.mt-3-sm { margin-top: 0.3rem; }
.mt-3 { margin-top: 1.3rem; }
.rounded-circle { border-radius: 50rem; }
.rounded { border-radius: 5px; }
.shadow { box-shadow: rgba(0,0,0,0.4) 0 0 5px; }
.text-sm { font-size: 0.8rem; }
.text-red { color: rgb(255, 73, 73); }

.tag {
    padding-left: 5px;
    padding-right: 5px;
}

.tag-red { background: rgb(255, 73, 73); }

.tag-yellow {
    background: rgb(255, 213, 73);
    color: black;
}

.tag-green {
    background: rgb(73, 255, 103);
    color: black;
}

.fill {
    position: fixed;
    width: 100%;
}